{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/fantasy.css' %}">
{% endblock %}
{% block content %}
    <h1>Fantasy Books</h1>
    <p>Explore our collection of fantasy books.</p>

    <div class="books-grid">
        {% for book in fantasy_books %}
            <div class="book-card">
                <img src="{% static 'images/' %}{{ book.cover }}" alt="{{ book.title }}">
                <h3>{{ book.title }}</h3>
                <p>by {{ book.author }}</p>
                <p>Popularity: {{ book.popularity_score }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}