{% extends "base.html" %}
{% load static %} 

{% block content %}
    <h1>FAQ</h1>
    <h2><strong>How can I create an account ?</strong></h2>
    <p style="font-size:24px;">To create an account, click on the "Sign Up" button on the homepage.</p>
    <h2><strong>How do I add books to my to be read?</strong></h2>
    <p style="font-size:24px; text-align: center;">Search for a book using the search bar. Once you find it, click the "Add to TBR", which are books to be read.</p>
    <h2><strong>Can I leave reviews for books?</strong></h2>
    <p style="font-size:24px; text-align:center">Yes! Visit a book's page, scroll down to the review section, and click "Write a Review" to share your thoughts.</p>
    <h2><strong>Who can access the website ?</strong></h2>
    <p style="font-size:24px; text-align:center">Anybody can use this website, this is a safe space for the book community to flourish.</p>
    <h2><strong>How does the book trending page work ?</strong></h2>
    <p style="font-size:24px; text-align:center">All of the books from that category appear there based on users reviews and star ratings.</p>
    <h2><strong>How do the star ratings work ?</strong></h2>
    <p style="font-size:24px; text-align:center">We feel like 1 star is the worst and 5 stars is an amazing read but it is also up to the reader.</p>
    <h2><strong>Will the website have new features ?</strong></h2>
    <p style="font-size:24px; text-align:center">Yes, in the future more features will be added such as reading progress bar and much more.</p>
{% endblock %}