{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/my_account.css' %}">
{% endblock %}

{% block content %}
<div class="account-container">
    <h1>My Account</h1>
    <p class="welcome-message">Welcome, {{ user.username }}!</p>
    
    <div class="account-actions">
        <a href="{% url 'update_account' %}" class="account-button update-btn">
            <span class="button-icon"></span>
            <span class="button-text">Update Account</span>
        </a>
        <a href="{% url 'tbr_list' %}" class="account-button tbr-btn">
            <span class="button-icon"></span>
            <span class="button-text">Your TBR List</span>
        </a>
        <a href="{% url 'skipped_book_list' %}" class="account-button skipped-btn">
            <span class="button-icon"></span>
            <span class="button-text">Your skipped books</span>
        </a>
        <a href="{% url 'confirm_delete' %}" class="account-button delete-btn">
            <span class="button-icon"></span>
            <span class="button-text">Delete account</span>
        </a>
    </div>
</div>
{% endblock %}