{% extends "base.html" %}

{% load static %}  <!-- Load the static tag library here -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/tbr_list.css' %}">
{% endblock %}
{% block content %}
<h1>Your To Be Read List</h1>

{% if books %}
<div class="books-grid">
        {% for book in books %}
        <div class="book-card">
                <h3>{{ book.title }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>{{ book.description }}</p>
                <img src="{% static 'images/' %}{{ book.cover_image.name|cut:'books/covers/' }}" alt="{{ book.title }}">
        
                <!-- Delete from TBR button -->
                <form method="POST" action="{% url 'delete_from_tbr' book.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-remove-tbr">
                        <i class="fas fa-times-circle"></i> Remove from TBR
                    </button>
                </form>
        </div>
        {% endfor %}
</div>
{% else %}
    <p>You don't have any books in your TBR list.</p>
{% endif %}
{% endblock %}
