body {
    font-family: 'Forum', sans-serif;
    background-color: rgb(237, 220, 169);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; 
    min-height: 100%;
}

body .navbar {
    font-family: 'Forum', sans-serif !important; 
    background: #99805c !important; 
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 60px;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.navbar .left, .navbar .right {
    display: flex;
    justify-content: flex-start;
}

.navbar .center {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
    text-align: center;
}


.navbar .left, .navbar .right, .navbar .center {
    display: flex;
    align-items: center; /* Aligns all content to the vertical center */
    margin: 0; /* Resets any unintended extra spacing */
    padding: 0;
}

/* List styling */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    background-color: #4d402e !important;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Forum', sans-serif; 
}

.navbar li a:hover {
    background-color: #332b1f !important;
}

/* Search input styling */
.navbar input[type="text"] {
    padding: 8px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-family: 'Forum', sans-serif;  
    box-sizing: border-box;
    margin-left: auto;
}
